<html>
	<head></head>
	<body>
		<h1 style="font-size: 40px; text-align:center">Bienvenido al juego del ahorcado</h1>
		<div align="center">
			<form action='/juego' method='post'>		
				<input type='submit' id='Jugar' value='Jugar'/>
			</form>
			<img src="./ahorcado.jpg">	
		</div>
	</body>	
</html>
