<html>
	<head></head>
	<body>
		<p style=" font-size: 15px;text-align:center"><%= @@app.palabra_juego %></p>

		<p style=" font-size: 40px;text-align:center"><%= @mensaje %></p>
		<form method="post" action="/jugar_letra">
			<div align="center">
				<label>Escriba una letra</label>
				<input type="text" id="letra" name="letra" maxlength="1"/>	
				<input type="submit" id="Jugar" value="Jugar" />
			</div>
		</form>
		
		<p style="font-size: 20px;text-align:center"><%= @letras %></p>
	</body>	
</html>
